#blue{
    background-color: red;
    height: 260px;
    width: 1520px;
}

#red{
    background-color: yellow;
    height: 260px;
    width: 1520px;
}

#yellow{
    background-color: red;
    height: 260px;
    width: 1520px;
}