h1 {
    
    background-color: blue;
}


p{
   font-size: 99px;
   color:rgb(0, 0, 0)
}



body{
    background-color: burlywood
}
li {
    color:rgb(0, 0, 0);
    font-family: comic 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:larger
}

#blue{
    color: blue;
}

#purple{
    color:purple
}

#yellow{
    color:yellow
}

#crimson{
    color:rgba(234, 155, 232, 0.999)
}

#green{
    color:green
}

#white{
    color:whitesmoke
}















#one{
background-color: blue;
color: blue;
}

#two{
background-color: yellow;
color: yellow;
}





P{
    background-color: yellow;
}









































































































































































































































































































































































































































































































































































































































































































































































































































